{% capture footer_contents %}

  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}.
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="footer-social">
      <img
        class="footer-mark"
        src="{{ '/assets/img/favicon-96x96.png' | relative_url }}"
        alt="Footer mark"
      >
      <div class="contact-icons">{% social_links %}</div>
    </div>

    <div class="footer-content">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}
    <div class="footer-social">
      <img
        class="footer-mark"
        src="{{ '/assets/img/favicon-96x96.png' | relative_url }}"
        alt="Footer mark"
      >
      <div class="contact-icons">{% social_links %}</div>
    </div>
    <div class="footer-content">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}

